# AWS CONFIGS
BEDROCK_API_KEY=BEDROCK_API_KEY
AWS_REGION= REGION TO BE USED
USE_BEDROCK=  BOOL
DYNAMODB_TABLE_NAME= DYNAMODB TABLE NAME

# API KEYS 
FIRECRAWL_API_KEY= FIRECRAWL_API_KEY
DEEPSEEK_API_KEY=DEEPSEEK_API_KEY