# AWS CONFIGS
BEDROCK_API_KEY=BEDROCK_API_KEY
AWS_REGION=us-east-1
USE_BEDROCK=true
DYNAMODB_TABLE_NAME=zerodaily-articles
S3_IMAGE_BUCKET=zerodaily-article-images
MEDIA_BASE_URL=https://media.zerodaily.in

# API KEYS 
FIRECRAWL_API_KEY=FIRECRAWL_API_KEY
DEEPSEEK_API_KEY=DEEPSEEK_API_KEY